@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

//  variables
:root {
  --main-color: #fa65b1;
  --secondary-color: #afafaf;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;

}

//style Components
@mixin hide-transform($trans1,$tran2,$transition){
  transform: translate($trans1,$tran2);
  transition: $transition  ease-in-out;
  opacity: 0;
  -webkit-transition: $transition  ease-in-out;
  -moz-transition: $transition  ease-in-out;
  -ms-transition: $transition  ease-in-out;
  -o-transition: $transition  ease-in-out;
  -webkit-transform: translate($trans1,$tran2);
  -moz-transform: translate($trans1,$tran2);
  -ms-transform: translate($trans1,$tran2);
  -o-transform: translate($trans1,$tran2);
}
.h5 {
  font-size: 15px;
  font-weight: 700;
  color: #726ae3;
  text-transform: uppercase;
  margin-bottom: 15px;
}

p.on-page {
color: var(--secondary-color);
line-height: 1.8;
font-size: 1rem;
}
h2.h1 {
line-height: 1.7;
font-weight: 700;
margin-bottom: 60px;
span:last-child {
color: #726ae3;
}
span:first-child {
position: relative;

}
span:first-child::after {
content: "";
position: absolute;
background-color: #726ae3;
height: 2px;
width: 55%;
bottom: -10px;
left: 0;
}
}
@mixin main-colors {
  color: white;
  background-color: var(--main-color);
}
@mixin centering {
  display: flex;
  justify-content: center;
  align-items: center;
}
// Components end

::selection {
  @include main-colors();
}

.nav-1 {
  background-color: #efefef;
  font-size: 1rem;

  height: 60px;
}

.ul-1-nav-1 li a {
  color: var(--secondary-color);
  &:hover {
    color: var(--main-color);
  }
}
.ul-2-nav-1 {
  margin-right: 10px;
  & li a {
    width: 32px;
    height: 32px;
    @include centering();
    background-color: var(--secondary-color);
    color: white;
    border-radius: 50%;
    margin-left: 10px;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    &:hover {
      @include main-colors();
    }
  }
}
@media (min-width: 767px) {
  .ul-2-nav-1 {
    margin-right: 5rem;
  }
}
@media (max-width: 767px) {
  .ul-1-nav-1 li:nth-child(2) a {
    display: none;
  }
}
@media (max-width: 475px) {
  nav {
    flex-direction: column;
    .ul-1-nav-1 {
      display: none;
    }
    .ul-2-nav-1 {
      margin-top: 2.5%;
    }
  }
}
// Nav 2
.nav-2{
  background-color: white;
  &.move-it-to-top{
    position: fixed;
    top: 0;
  }
}
@media (min-width:767px) {
  .nav-2{
    overflow: hidden;
  }
}
@mixin reverse-main-color {
  color: var(--main-color);
  background-color: white;
}
.btn-container {
  margin-left: 10px;
}
button.with-hover-efect {
  @include reverse-main-color();
  outline: none;
  padding: 5px;
  height: 40px;
  width: 120px;
  border: 0.7px solid var(--main-color);
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  margin-right: 4.8rem;
}
button:hover {
  @include main-colors();
}
.ul-1-nav-2 {
  margin-right: 1.3rem;
  & li {
    height: 100%;
  }
  & li a {
    margin-left: 1rem;
    font-weight: 600;
    height: 175%;
    transition: 0.6s; 
     -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
    &.on-click-border

{
      color: var(--main-color);
      border-bottom: 2px solid var(--main-color);
    }
  }


  & li a:hover {
    color: var(--main-color);
  }
  & li:first-child a:first-child {
    color: var(--main-color);
  }
  @media (min-width: 768px) {
    & li:last-child a:last-child {
      margin-right: 3rem;
    }
  }
}

@media (max-width: 767px) {
  .ul-1-nav-2 {
    display: none;
  }
}

.menu {
  padding: 20px;
  cursor: pointer;
  width: fit-content;
  transition: 2s;
  -webkit-transition: 2s;
  -moz-transition: 2s;
  -ms-transition: 2s;
  -o-transition: 2s;
  .p1 {
    width: 30px;
    height: 2px;
    margin-bottom: 7px;
    background-color: black;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
  }
  .p2 {
    height: 2px;
    width: 38px;
    margin-bottom: 7px;
    transition: 0.2s;
    background-color: black;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
  }
}
.hide {
  visibility: hidden;
}

.transform-1 {
  width: 35px;
  transform: translateY(9px) rotate(45deg);
  -webkit-transform: translateY(9px) rotate(45deg);
  -moz-transform: translateY(9px) rotate(45deg);
  -ms-transform: translateY(9px) rotate(45deg);
  -o-transform: translateY(9px) rotate(45deg);
}
.transform-2 {
  width: 35px;
  transform: translateY(-10px) rotate(-45deg);
  -webkit-transform: translateY(-10px) rotate(-45deg);
  -moz-transform: translateY(-10px) rotate(-45deg);
  -ms-transform: translateY(-10px) rotate(-45deg);
  -o-transform: translateY(-10px) rotate(-45deg);
}

@media (max-width: 767px) {
  .ul-1-nav-2 {
    display: block;
    transition: 0.5s linear;
    -webkit-transition: 0.5s linear;
    -moz-transition: 0.5s linear;
    -ms-transition: 0.5s linear;
    -o-transition: 0.5s linear;
    max-height: 0px;
    overflow: hidden;
    text-align: center;
      position: absolute;
      width: 85%;
      top: 100%;
      left: 5%;
      z-index: 1;
      padding-top: 0;
      &.show {
        max-height: 300%;
      }
      &.hide {
        overflow: hidden;
        max-height: 0;
      }
      ////
      & li a {
        background-color: #f7f7f7;
        padding: 15px;
        border-bottom: 2px solid #e7e7e7;
        font-weight: 600;
      }
      & li a:hover {
        background-color: #efefef;
        color: var(--main-color);
      }
      & li:first-child a:first-child {
        color: var(--main-color);
      }
    }
  }
  //   Home
  .home {
    max-width: 100%;
    position: relative;
    overflow: hidden;
  }
  .home::before {
    content: "";
    min-width: 100%;
    height: 100%;
    left: 200px;
    top: -30px;
    position: absolute;
    z-index: -1;
    background-image: url("//images/slider-right-dec.jpg");
    @media (min-width: 991px) and (max-width: 1199px) {
      width: 100%;
      left: 0;
    }
  }
  .home::after {
    content: "";
    position: absolute;
    width: 231px;
    top: -60px;
    height: 100%;
    z-index: -1;
    background-repeat: no-repeat;
    background-image: url("//images/slider-left-dec.jpg");
  }

  .home-container {
    padding-top: 120px;
    padding-bottom: 120px;
    margin-left: 40px;

    display: grid;
    grid-template-columns: 1fr 1fr;
  & img{
      transform:translateX(150%);
      -webkit-transform:translateX(150%);
      -moz-transform:translateX(150%);
      -ms-transform:translateX(150%);
      -o-transform:translateX(150%);
      transition: 0.8s ease-in-out;
      -webkit-transition: 0.8s ease-in-out;
      -moz-transition: 0.8s ease-in-out;
      -ms-transition: 0.8s ease-in-out;
      -o-transition: 0.8s ease-in-out;

    padding-bottom: 40px;
    margin-right: -20px;
    width: 95%;
    max-width: 100%;

          &.translate-to-page
            {
        transform: translate(0%);
        -webkit-transform: translate(0%);
        -moz-transform: translate(0%);
        -ms-transform: translate(0%);
        -o-transform: translate(0%);
  }


  }

    .content {
      position: relative;
      transition: 0.8s ease-in-out;
      transform: translateX(-150%);
      -webkit-transform: translateX(-150%);
      -moz-transform: translateX(-150%);
      -ms-transform: translateX(-150%);
      -o-transform: translateX(-150%);
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: wrap;
      align-content: center;
      width:90%;
      &.translate-to-page {
        transform: translate(0%);
        -webkit-transform: translate(0%);
        -moz-transform: translate(0%);
        -ms-transform: translate(0%);
        -o-transform: translate(0%);
      }
      .h4 {
        line-height: 2;
        color: var(--main-color);
        font-weight: 700;
      }
      h1 {
        font-size: 3.5rem;
        font-weight: 700;
      }
    }
  }
@media (max-width:767px){
  .home-container {
      img.translate-to-page {
        margin-left: 0px;
    }
    
  }
}
  @media (max-width: 991px) {
    .home-container {
      width: 95%;
      margin: auto;
      grid-template-columns: 1fr;
      text-align: center;
      .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        button {
          margin-left: 60px;
        }
      }

    }
  }
  // 
  // About us
  .about-us {
    .container {
      max-width: 100%;

      @media (min-width: 991px) {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));

      }
      @media (max-width: 991px) {
        text-align: center;
        max-width: 100%;
        overflow: hidden;
        .text-content {

          .circles {
            @include centering();
          }
        }
      }

      .text-content {
        transition: 1s;
        transform: translateX(150%);
        -webkit-transform: translateX(150%);
        -moz-transform: translateX(150%);
        -ms-transform: translateX(150%);
        -o-transform: translateX(150%);
        -webkit-transition: 1s;
        -moz-transition: 1s;
        -ms-transition: 1s;
        -o-transition: 1s;
                &.translate-to-page
                                      {
          transform: translateX(0%);
          -webkit-transform: translateX(0%);
          -moz-transform: translateX(0%);
          -ms-transform: translateX(0%);
          -o-transform: translateX(0%);
  }
        @media (min-width:991px) {
          margin-left: 40px;

        }

        margin-top: 120px;
        line-height: 2;
        .circles {
          margin-top: 60px;
          margin-left: 90px;
          @include centering();
          flex-direction: row;

          @media (max-width: 575px) {
            flex-direction: column;
            margin-left: 120px;
            .first,
            .second,
            .third {
              margin-bottom: 20px;
            }

          }

          .first,
          .second,
          .third {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            @include centering();
            flex-direction: column;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            // border: 5px solid red;
            margin-right: 120px;
            @media (min-width:575px) {
                margin-right: 90px;
              
            
            }
            .h2 {
              font-weight: 700;
              line-height: 0.6;
            }
            span:last-child {
              color: var(--secondary-color);
            }
            svg {
              transform: rotate(250deg);
              -webkit-transform: rotate(250deg);
              -moz-transform: rotate(250deg);
              -ms-transform: rotate(250deg);
              -o-transform: rotate(250deg);
            }
            circle {
              fill: none;
              stroke: url(#GradientColor);
              stroke-width: 5px;
              stroke-dasharray: 472;
              stroke-dashoffset: 472;
            }
          }

        }
// components

        .second circle,
        .third circle {
          animation: anim 2s linear forwards;
          -webkit-animation: anim 2s linear forwards;
        }
        @keyframes anim {
          100% {
            stroke-dashoffset: 94.4;
          }
        }
        .first circle {
          animation: animf 2s linear forwards;
          -webkit-animation: animf 2s linear forwards;
        }
        @keyframes animf {
          100% {
            stroke-dashoffset: 70;
          }
        }
      }
      .img-container{
        img{
          width: 100%;
      
        }
      }
      @media (min-width:991px) and (max-width:1199px) {
          
        margin-left: 15px;
        .img-container{
          img{
            width: 90%;
            height: 100%;
        }
        }
        .text-content{
          margin-left: 10px;
          width: 87%;
        }
        .text-content .circles{
          margin-top: 0px;
        }

      }
      .img-container{
        img{
          transition: 1s;
          transform: translateX(-150%);
          -webkit-transform: translateX(-150%);
          -moz-transform: translateX(-150%);
          -ms-transform: translateX(-150%);
          -o-transform: translateX(-150%);

                  &.translate-to-page
                                  {
            transform: translateX(0%);
            -webkit-transform: translateX(0%);
            -moz-transform: translateX(0%);
            -ms-transform: translateX(0%);
            -o-transform: translateX(0%);
  }
  }
      }
    }

  }

// Services

.services{

  position: relative;
  padding-top: 80px;
  padding-bottom: 50px;
  .text.head:first-child{
    @include hide-transform(0px,-120px,0.6s);

    &.show{
      transform:translate(0px);
      opacity: 1;
      -webkit-transform:translate(0px);
      -moz-transform:translate(0px);
      -ms-transform:translate(0px);
      -o-transform:translate(0px);
}
  }
  .text
{
  
    padding-bottom: 20px;

    h2.h1{
      span:first-child::after{
        top: 80px;
        left: 220%;
      }
    }
  }
  .categories{
    padding-bottom: 40px;
    // flex-wrap: wrap;
    .category{
      display: inline-block;
      transition: 0.5s;
      -webkit-transition: 0.5s;
      -moz-transition: 0.5s;
      -ms-transition: 0.5s;
      -o-transition: 0.5s;
      cursor: pointer;
      padding: 20px;
      width: calc(80% / 6);
      // height: 150px;
      margin-right: 10px;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      &.shadow
{
        box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 10%);
        background-color: white;

      }
}
    .category p{
      font-weight: 700;
      font-size: 16px;
      @media (min-width:1200px) {
        font-size: 20px;
      }
    }
  }

  .content{
    max-width: 90%;
    height: 500px;
    padding: 60px;
    margin-left: auto;
    margin-right: auto;
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -ms-border-radius:10px;
    -o-border-radius:10px;
    overflow: hidden;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    background-color: white;
    @include centering();
    box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 10%);
&.active{
  transition: 1s;
  opacity: 1;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
    .text
{

  width: 50%;
  padding-right: 60px;
  padding-left:0px;
  h4
{
  color: var(--main-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 4;
}
p{
  font-size: 15px;
}
div{
  display: flex;
  flex-wrap: wrap;
  span{
    font-size: 15px;
    i{
      margin-right: 5px;
      
    }
    margin-right: 45px;

  }
  margin-bottom: 20px;
}
    }
    .img-container{
      img{
        max-width: 100%;
        max-height: 100%;


}
    }
  }
  &::after{
content: "";
position: absolute;
width: 100%;
height: 100%;
z-index: -1;
top: -50px;
left: 0;
background-image: url(//images/services-left-dec.jpg);
background-repeat: no-repeat;
  }
  &::before{
content: "";
position: absolute;
width: 160px;
height: 40%;
right: 0;
top: 330px;
z-index: -1;
background-image: url(//images/services-right-dec.jpg);
background-repeat: no-repeat;
  }
  @media (max-width:992px){
    .categories{
      .category{
        p{
          font-size: 13px;
        }
      }
    }

  .content{ 
    display: flex;
    flex-wrap: wrap;
    height: 150%;
    .text{
      width: 100%;
      padding-left: 60px;
    }

  }
}
@media (max-width:767px){
  .categories{

    .category{
      width: 17.333333%;
      p{
        font-size: 13px;
      }
    }
  }

.content{
  .text{
    padding-left: 30px;
  }
}
}
@media (max-width:575px){
  .categories{
    .category{
      width: 28.333333%;
  margin-bottom: 20px;
      p{
        font-size: 11px;
      }
    }
  }
.content{
  max-width: 100%;
  padding: 20px;
  .text{
    padding-left: 10px;
  }
}
}
@media (max-width:320px){
  .categories{
    .category{
      width: 40.333333%;
  margin-bottom: 20px;
      p{
        font-size: 11px;
      }
    }
  }
.content{
  max-width: 100%;
  padding: 20px;
  .text{
    display: none;
  }
  .img-container{
    img{
      max-width: 80%;
      margin-left: 20px;
    }
  }
}
}
}
// Subscribe section
.subscribe{
  padding-top: 120px;
  overflow: hidden;
  background-image: url(../images/quote-bg.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  min-height: 500px;
  max-height: 100%;
  .text{
    opacity: 0;
    transition: 1.7s ;
    -webkit-transition: 1.7s ease-in-out;
    -moz-transition: 1.7s ease-in-out;
    -ms-transition: 1.7s ease-in-out;
    -o-transition: 1.7s ease-in-out;
    color: white ;
    span
{
      color: white;

    }
.h1{
  color: white;

    span{
      color: white;
      &::after{
        background-color: white;
        left: 50%;
      }
    }
  }
  &.show{
    opacity: 1;
  }
  }
  form{
    opacity: 0;
    transition: 2.2s ease-in-out;
    -webkit-transition: 2.2s ease-in-out;
    -moz-transition: 2.2s ease-in-out;
    -ms-transition: 2.2s ease-in-out;
    -o-transition: 2.2s ease-in-out;
    @include centering();
    height: 80px;
    width: 62.7%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 100px;
    margin-top: 0;
    &.show
{
      opacity: 1;
    }
    input
{
      outline: 0;
      border: 0px;
      border-bottom: 1px solid var(--secondary-color);
      margin-right: 90px;
      width: calc(60% / 2);
      min-width: 10%;
      padding: 5px;
      background-color: transparent;
    }
input:first-child{
  margin-left: 5%;


}
    button{
      min-width: 30%;
      max-width: 40%;

      border-radius: 100px;
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px;
      -ms-border-radius: 100px;
      -o-border-radius: 100px;
      background-color: #726be3;
      color: white;
      height: 100%;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
      border: 0px;

}
    
  }
  @media (max-width:1199px){
    // background-size: 150%;
    .form{
      min-width: 80%;
    input:first-child{
      margin-left: 8%;
    }
  }
  }
  @media (max-width:991px){
    .form{
      min-width: 90%;

  }
  }
  @media (max-width:767px){
    .form{
      font-size: 14px;
        input
              {
                margin-right: 20px;
        }
  }
}
  @media (max-width:575px){

    .form{
      display: block;
      background-color: transparent;
      min-width: 90%;
      height: 175px;
      border-radius: 0px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      -ms-border-radius: 0px;
      -o-border-radius: 0px;
      border-top-left-radius: 40px;
      border-top-right-radius: 40px;


            input
            {
              width: 100%;
              height: 70px;
              padding: 30px;

      }
  input:first-child{
    margin-left: 0px;

  
  }
      button{
        
        min-width: 100%;
        height: 75px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 40px;
        border-bottom-left-radius: 40px;
  }
  
  }
  
}
}
// Portfolio
.portfolio{
  padding-top: 125px;
  overflow: hidden;
position: relative;
padding-bottom: 120px;
&::before{
  content: "";
  position: absolute;
  background-image: url(//images/portfolio-left-dec.jpg);
  background-repeat: no-repeat;
  width: 35%;
  max-width: 35%;
  left: 0;
  top: 0px;
  height: 100%;
  z-index: -1;
}
&::after{
  content: "";
  position: absolute;
  background-image: url(//images/portfolio-right-dec.jpg);
  background-repeat: no-repeat;
  width: 35%;
  max-width: 35%;
  height: 80%;
  top: -10px;
  right: -80px;
  z-index: -1;
}
.prev-next{
  display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 60px;
    margin-bottom: 35px;
    i{
      cursor: pointer;
      @include centering();
      background-color: #eee;
      transition: 0.6s;
      -webkit-transition: 0.6s;
      -moz-transition: 0.6s;
      -ms-transition: 0.6s;
      -o-transition: 0.6s;
      width: 40px;
      height: 40px;
      color: white;
      margin-right: 10px;
      font-size: 20px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      &:hover
{
        @include main-colors();
      }
}
}
.text{
  @include hide-transform(-120px,0px,0.6s);

&.show{
  transform: translate(0px,0px);
  opacity: 1;
  -webkit-transform: translate(0px,0px);
  -moz-transform: translate(0px,0px);
  -ms-transform: translate(0px,0px);
  -o-transform: translate(0px,0px);
}
    span:first-child::after{
    left: -180%;

  }
  @media (max-width:575px) {
    span:first-child::after{
    left: 30%;
    }
  }
}

.images-container{
  overflow: hidden;
  @include hide-transform(0px,-120px,0.6s);
  transform: translate(0px,0px);
  transition: 1.2s;
  -webkit-transition: 1.2s;
  -moz-transition: 1.2s;
  -ms-transition: 1.2s;
  -o-transition: 1.2s;
  -webkit-transform: translate(0px,0px);
  -moz-transform: translate(0px,0px);
  -ms-transform: translate(0px,0px);
  -o-transform: translate(0px,0px);
  &.show

{
    opacity: 1;
  }
  .card{
    width: calc(100% - 100px / (5));
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    border: 0px ;
    cursor: pointer;
    box-shadow: 0px 0px 15px 0px rgb(0, 0,0,10%);

    .card-body{
      span{
        color: var(--secondary-color);
      }
    }
  }
}
@media (max-width:1199px) {
  .images-container{
    width: 95%;
    margin-right: auto;
    margin-left: auto;
    .card:nth-child(5),.card:nth-child(4){
      display: none;
    }
    .card{
      margin-left: 30px;
    }
  }
}
@media (max-width:991px) {
  .images-container{

    .card:nth-child(3){
      display: none;
    }
  }
}
@media (max-width:575px) {
  .images-container{
    .card:nth-child(2){
      display: none;
    }
  }
}
}
// blog
.blog{
  position: relative;
padding-top: 60px;
padding-bottom: 120px;
.text{
  @include hide-transform(0px,-120px,0.6s);

  &.show{
    transform: translate(0px);
    opacity: 1;
    -webkit-transform: translate(0px);
    -moz-transform: translate(0px);
    -ms-transform: translate(0px);
    -o-transform: translate(0px);
}
}

&::before{
  content: "";
  position: absolute;
  background-image: url(/images/blog-left-dec.jpg);
  background-repeat: repeat;
  background-size: 100%;
  height: 100%;
  width: 100%;
  top: -120px;
  left: 0;
  z-index: -1;
  }
h2.h1 span::after{
  left: -120%;
}
 .content-container{
  @include hide-transform(0px,180px,0.6s);

    &.show
{
      transform: translate(0px);
      opacity: 1;
      -webkit-transform: translate(0px);
      -moz-transform: translate(0px);
      -ms-transform: translate(0px);
      -o-transform: translate(0px);
}
    display: grid;
    grid-template-columns: 1fr 1fr;
    .first-col,.second-col{
      border-radius: 20px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      -o-border-radius: 20px;
      img{
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;

}


    }
    button{
      min-width: 33%;
      margin-right: 0;
    }
    span:first-child{
      color: white;
      background-color: #726ae3;
      width: 120px;
      @include centering();
      height: 36px;
      font-size: 15px;
      border-radius: 30px;
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      -ms-border-radius: 30px;
      -o-border-radius: 30px;
      min-width: 50%;
}
    span:last-child{
      color: var(--secondary-color);
}
    h3{
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    margin-top: 20px;
    margin-bottom: 20px;
    }
    p{
      font-size: 15px;
      margin-bottom: 20px;

    }
    .first-col{
      
      width: 95%;
      max-height: 95%;
      min-height: 350px;
      margin-left: auto;
      margin-right: auto;
      box-shadow: 0px 0px 15px 0px rgb(0, 0, 0 , 10%);
      img

{
        width: 100%;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
      }
      .text-body{
        padding: 40px;
        .text{
          display: flex;
          justify-content: space-between;

            .img-n-text{
              span{
                color: initial;
              }
            
          }

        }

        img{
          width: 50px;
          height: 50px;
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
        }
      }
    }
  }
  .second-col{
    > div{
      
      display: flex;
      padding-right: 40px;
      padding-left: 40px;
      padding-bottom: 40px;
      margin-bottom: 7px;

      .text-body{
        padding-left: 30px;
        padding-top: 20px;
        .text{
          display: flex;
          justify-content: space-between;
        }
        p{
          color: var(--secondary-color);
          line-height: 2;
        }
      }
    }
  }
  @media (max-width:1199px) {
    .first-col{
      max-height: 65%;
      min-height: 65%;
      button{
        min-width: 50%;
      }
    }
    .second-col{
      > div{
        margin-bottom: 10px;
        img{
          max-height: 200px;
        }
        .text-body{
          padding-top: 0px;
          .text{
            flex-wrap: wrap;
            span:first-child{
              min-width: 60%;
            }
          }
          h3{
            margin-top: 5px;
            margin-bottom: 5px;
            font-size: 16px;
          }
          p{
            font-size: 14px;
          }
        }
      }
    }
  }
  @media (max-width:991px) {
.content-container{
  @include centering();
  flex-wrap: wrap;
  flex-direction: column;
  span:first-child{
    min-width: 35%;
  }
  .first-col{

    max-width: 75%;
    margin-bottom: 60px;
button{
  min-width: 35%;
}
  }
  .second-col{
    max-width: 85%;
 > div{
  .text-body{

    .text{
      span:first-child{
        min-width: 35%;
      }
    }
    h3{
      font-size: 20px;
    }
    p{
      font-size: 17px;
    }
  }
 }
  }
}
  }
  // 
  @media (max-width:767px) {
.content-container{
  .first-col{
    max-width: 95%;

  }
  .second-col{
    max-width: 100%;
 > div{
  @include centering();
  padding-left: 0;
  .text-body{

    .text{
      span{
        font-size: 12px;
      }
      span:first-child{
        min-width: 35%;
        margin-bottom: 20px;
      }
    }
    h3{
      margin-top: 20px;
      font-size: 13px;
    }
    p{
      display: none;
    }
  }
 }
  }
}
  }
  @media (max-width:575px) {
.content-container{
  .first-col{
    .text:nth-of-type(2){
      max-width: 100%;
    }
  .text-body{
  .text{
    span:first-child{
      min-width: 60%;
    }
  }
  h3{
    font-size: 14px;
    
  }
  p{
    font-size: 12px;
  }
      
    }
    button{
      min-width:fit-content;
    }
      }
  .second-col{
    max-width: 95%;
 > div{
  
  @include centering();
  flex-wrap: wrap;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 10%);
  padding-right: 0;
  padding-left: 0;
  margin-bottom: 20px;
  img
{
    width: 100%;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    max-height: 100%;
  }
  .text-body{
    max-width: 95%;
    margin-left: -20%;
  
    .text{
      margin-top: 20px;
    }
    h3{
      margin-top: 0;
    }
  }
  }
}
  }
}
@media (max-width:320px) {
  .first-col{
    display: none;
  }
  .second-col{
    > div{
      .text-body{
        padding-left: 20px;
        max-width: 110%;
        .text{
          span:first-child{
            min-width: 100%;
          }
        }
      }
    }
  }
}
}
// 
// Contact us

.contact-us{
  position: relative;
  padding-top: 60px;
  padding-bottom: 120px;

  .main-img{
    position: absolute;
    right: 5px;
    top: -242px;
  }
.text{
  text-align: center;
  @include hide-transform(0px,-120px,0.6s);

  &.show{
    transform: translate(0px);
    opacity: 1;
    -webkit-transform: translate(0px);
    -moz-transform: translate(0px);
    -ms-transform: translate(0px);
    -o-transform: translate(0px);
}
}
h2.h1 span::after{
  left: -200%;
}
  .content-container{
    @include hide-transform(0px,180px,0.6s);
        &.show
{
      transform: translate(0px);
      opacity: 1;
      -webkit-transform: translate(0px);
      -moz-transform: translate(0px);
      -ms-transform: translate(0px);
      -o-transform: translate(0px);
}
    margin-top: 90px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 10%);
    position: relative;
    &::before{
      content: "";
      background-image: url(/images/contact-top-right.png);
      width: 500px;
      height: 60px;
      
      position: absolute;
      right: 0;
      top: 0;
      background-repeat: no-repeat;
      
      }
      &::after{
      content: "";
      background-image: url(/images/contact-bottom-right.png);
      width: 530px;
      height: 110px;
      position: absolute;
      right: 0px;
        bottom: 0;
      background-repeat: no-repeat;
    
      }
    .map{
      width: 100%;
      iframe{
        height: 100%;
        width: 100%;

        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
      }
}
.form-content{
  

  padding: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 10%);
  .contacts{
    width: 110%;
margin-bottom: 40px;
display: flex;
flex-wrap: wrap;
    > div{
      text-align: center;
      display: inline-block;
      padding: 30px;
      box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 10%);

      width: calc(85%/(3));
      min-width: calc(85%/(3));
      padding-left: 10px;
    padding-right: 10px;

        border-radius: 20px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      -o-border-radius: 20px;
      margin-right: 20px;
      span{
        margin-top: 15px;
        display: block;
      }
    }
  }
  form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    .contact{
      margin-right: 20px;
      input{
        margin-bottom: 40px;
      }
    }

    input,textarea{
      display: block;
      min-width: 90%;
      border: 0;
      box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 10%);
      border-radius: 40px;
      padding: 20px;
      margin-bottom: 30px;
      -webkit-border-radius: 40px;
      -moz-border-radius: 40px;
      -ms-border-radius: 40px;
      -o-border-radius: 40px;
      margin-top: 30px;

}
textarea{
  display: inline-block;
  outline: 0;
  &:focus{
    border: 3px solid #86b7fe;
  }
}
  }
  button{
    display: block;
      width: 100%;
      margin-right: auto;
      margin-left: auto;
    height: 60px;
text-align: center;
padding: 20px;
  }

}

  }
  @media (max-width:991px) {
    .main-img{
      display: none;
    }
    .content-container{
      grid-template-columns: 1fr;
      padding: 40px;
      height: 2000px;
      border-radius: 40px;
      -webkit-border-radius: 40px;
      -moz-border-radius: 40px;
      -ms-border-radius: 40px;
      -o-border-radius: 40px;
      .map

{
  min-height: 600px;
        padding: 20px;
        margin-left: auto;
        margin-right: auto;
  iframe{
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}
      }
      .form-content{
        padding-left: 60px;
box-shadow: 0px 0px 0px 0px ;
        .contacts{
          > div{
            display: block;
            width: 90%;
            margin-bottom: 20px;
          }
        }
        form{
          display: block;
          box-shadow: 0;
          .contact{
            input{
              width: 103%;
              height: 80%;
              margin-bottom: 10px;
            }
          }
          textarea{
            width: 100%;
            height: 80%;
            margin-bottom: 10px;
          }
        }

      }
    }
  }
  @media (max-width:767px) {
    .content-container{
      padding: 20px;
      .form-content{
        padding-left: 20px;
        .contacts{
          > div{
            width: 100%;
          }
        }
        form{
          .contact{
            input{
              width: 110%;
            }
          }
          textarea{
            width: 105%;
          }
        }

      }
    }
  }
}
// 
footer{
  background-image: url(/images/footer-bg.jpg);
  background-repeat: no-repeat;
  color: white;
  padding-top: 30px;
  height: 75px;
  background-size: cover;
  p{
    margin-bottom: 0;
  }
}
